<ion-view title="Resultado Bikes">
    <ion-nav-bar class="bar-positive bar-header nav-bar bar ">
        <ion-nav-buttons side="left">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Voltar</ion-nav-back-button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon "></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content has-header="true" padding="true">
        Resultado Bikes
    </ion-content>
</ion-view>